#  Cleaning Data using Pandas

In [5]:
# import pandas 

import pandas as pd

In [6]:
# import dataframe

df = pd.read_excel(r'/Users/herizojoseandre/Downloads/Customer Call List.xlsx')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [7]:
df.shape

(21, 8)

In [17]:
# drop the duplicate with the drop_duplicates() function

df = df.drop_duplicates()

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [11]:
# remove not useful column by using the drop() function for the 'Not_Useful_Column'

df = df.drop(columns = 'Not_Useful_Column')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [20]:
# clean the column 'Last_Name' using the strip() function which takes from the left or right side

# df['Last_Name'] = df['Last_Name'].str.lstrip(' ')
# df['Last_Name'] = df['Last_Name'].str.lstrip('/')
# df['Last_Name'] = df['Last_Name'].str.lstrip('...')
# df['Last_Name'] = df['Last_Name'].str.rstrip('_')


# or another method using strip() function

df['Last_Name'] = df['Last_Name'].str.strip('123._/')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [42]:
# clean the column 'Phone_Number' using the replace() function

# df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z1-9]','')

# now format the column 'Phone_Number' using apply() function

# df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[3:10])

# df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

# df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

# remove 'NaN' and 'N/a' from the column 'Phone_Number' using the function replace()

# df['Phone_Number'] = df['Phone_Number'].str.replace('nan--', '')

df['Phone_Number'] = df['Phone_Number'].str.replace('Na--', '')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,347-622-467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,347-622-467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [54]:
# Split the column 'Address' using the function split()

df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(',', 2, expand = True)

df

/var/folders/zb/bl_05nm93rg8wry5yzkmdg4c0000gn/T/ipykernel_9527/241074456.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(',', 2, expand = True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip Code,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None,123 Shire Lane,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None,93 West Main Street,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None,298 Drugs Driveway,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503,980 Paper Avenue,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None,123 Dragons Road,None
5,1006,Ron,Swanson,347-622-467,768 City Parkway,Yes,Yes,768 City Parkway,None,None,768 City Parkway,None
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None,1209 South Street,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None,98 Clue Drive,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None,123 Middle Earth,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None,25th Main Street,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None,612 Shire Lane,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None,2394 Hogwarts Avenue,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2039 Main Street,None,None,2039 Main Street,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,None,None,343 City Parkway,None
14,1015,Toby,Flenderson,347-622-467,214 HR Avenue,N,No,214 HR Avenue,None,None,214 HR Avenue,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None,121 Paper Avenue,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None,3498 Super Lane,None
18,1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None,N/a,None
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,910 Tatooine Road,None

In [68]:
# for the column 'Paying Cunstomer', replace the values 'Yes' to 'Y' and 'No' to 'N'

df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')

In [71]:
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')

In [74]:
# for the column 'Paying Cunstomer', replace the values 'N/a' to '' 

df['Paying Customer'] = df['Paying Customer'].str.replace('N/a', '')

In [78]:
# for the column 'Dot_Not_Contact', replace the values 'Yes' to 'Y' and 'No' to 'N'

df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes', 'Y')

In [79]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No', 'N')

In [92]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,None
1,1002,Abed,Nadir,123-643-9775,N,Y,None,93 West Main Street,None
2,1003,Walter,White,,N,NaN,None,298 Drugs Driveway,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,Pennsylvania,980 Paper Avenue,18503
4,1005,Jon,Snow,876-678-3469,Y,N,None,123 Dragons Road,None
5,1006,Ron,Swanson,347-622-467,Y,Y,None,768 City Parkway,None
6,1007,Jeff,Winger,,N,N,None,1209 South Street,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,None,98 Clue Drive,None
8,1009,Gandalf,NaN,,Y,NaN,None,123 Middle Earth,None
9,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,None
10,1011,Samwise,Gamgee,,Y,N,Shire,612 Shire Lane,None
11,1012,Harry,Potter,,Y,NaN,None,2394 Hogwarts Avenue,None
12,1013,Don,Draper,123-543-2345,Y,N,None,2039 Main Street,None
13,1014,Leslie,Knope,876-678-3469,Y,N,None,343 City Parkway,None
14,1015,Toby,Flenderson,347-622-467,N,N,None,214 HR Avenue,None
15,1016,Ron,Weasley,123-545-5421,N,N,None,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,None
17,1018,Clark,Kent,,Y,NaN,None,3498 Super Lane,None
18,1019,Creed,Braton,,,Y,None,N/a,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,None

In [97]:
# now clean all 'N/a' values

df = df.replace('N/a', '')

In [98]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,None
1,1002,Abed,Nadir,123-643-9775,N,Y,None,93 West Main Street,None
2,1003,Walter,White,,N,NaN,None,298 Drugs Driveway,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,Pennsylvania,980 Paper Avenue,18503
4,1005,Jon,Snow,876-678-3469,Y,N,None,123 Dragons Road,None
5,1006,Ron,Swanson,347-622-467,Y,Y,None,768 City Parkway,None
6,1007,Jeff,Winger,,N,N,None,1209 South Street,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,None,98 Clue Drive,None
8,1009,Gandalf,NaN,,Y,NaN,None,123 Middle Earth,None
9,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,None
10,1011,Samwise,Gamgee,,Y,N,Shire,612 Shire Lane,None
11,1012,Harry,Potter,,Y,NaN,None,2394 Hogwarts Avenue,None
12,1013,Don,Draper,123-543-2345,Y,N,None,2039 Main Street,None
13,1014,Leslie,Knope,876-678-3469,Y,N,None,343 City Parkway,None
14,1015,Toby,Flenderson,347-622-467,N,N,None,214 HR Avenue,None
15,1016,Ron,Weasley,123-545-5421,N,N,None,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,None
17,1018,Clark,Kent,,Y,NaN,None,3498 Super Lane,None
18,1019,Creed,Braton,,,Y,None,,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,None

In [100]:
# fill empty 'NaN' values

df = df.fillna('')

In [101]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,
1,1002,Abed,Nadir,123-643-9775,N,Y,,93 West Main Street,
2,1003,Walter,White,,N,,,298 Drugs Driveway,
3,1004,Dwight,Schrute,123-543-2345,Y,Y,Pennsylvania,980 Paper Avenue,18503
4,1005,Jon,Snow,876-678-3469,Y,N,,123 Dragons Road,
5,1006,Ron,Swanson,347-622-467,Y,Y,,768 City Parkway,
6,1007,Jeff,Winger,,N,N,,1209 South Street,
7,1008,Sherlock,Holmes,876-678-3469,N,N,,98 Clue Drive,
8,1009,Gandalf,,,Y,,,123 Middle Earth,
9,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,
10,1011,Samwise,Gamgee,,Y,N,Shire,612 Shire Lane,
11,1012,Harry,Potter,,Y,,,2394 Hogwarts Avenue,
12,1013,Don,Draper,123-543-2345,Y,N,,2039 Main Street,
13,1014,Leslie,Knope,876-678-3469,Y,N,,343 City Parkway,
14,1015,Toby,Flenderson,347-622-467,N,N,,214 HR Avenue,
15,1016,Ron,Weasley,123-545-5421,N,N,,2395 Hogwarts Avenue,
16,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,
17,1018,Clark,Kent,,Y,,,3498 Super Lane,
18,1019,Creed,Braton,,,Y,,,
19,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,

In [102]:
'''
Now, let's image the call center wants a list of the individuals they could call
'''

for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace=True)
        
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,
2,1003,Walter,White,,N,,,298 Drugs Driveway,
4,1005,Jon,Snow,876-678-3469,Y,N,,123 Dragons Road,
6,1007,Jeff,Winger,,N,N,,1209 South Street,
7,1008,Sherlock,Holmes,876-678-3469,N,N,,98 Clue Drive,
8,1009,Gandalf,,,Y,,,123 Middle Earth,
9,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,
10,1011,Samwise,Gamgee,,Y,N,Shire,612 Shire Lane,
11,1012,Harry,Potter,,Y,,,2394 Hogwarts Avenue,
12,1013,Don,Draper,123-543-2345,Y,N,,2039 Main Street,
13,1014,Leslie,Knope,876-678-3469,Y,N,,343 City Parkway,
14,1015,Toby,Flenderson,347-622-467,N,N,,214 HR Avenue,
15,1016,Ron,Weasley,123-545-5421,N,N,,2395 Hogwarts Avenue,
16,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,
17,1018,Clark,Kent,,Y,,,3498 Super Lane,
19,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,

In [104]:
# same method for the column 'Phone_Number'

for x in df.index:
    if df.loc[x, 'Phone_Number'] == '':
        df.drop(x, inplace=True)
        
df

# another way to drop null values

# df = df.dropna((subset = 'Phone_Number'), inplace=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,
4,1005,Jon,Snow,876-678-3469,Y,N,,123 Dragons Road,
7,1008,Sherlock,Holmes,876-678-3469,N,N,,98 Clue Drive,
9,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,
12,1013,Don,Draper,123-543-2345,Y,N,,2039 Main Street,
13,1014,Leslie,Knope,876-678-3469,Y,N,,343 City Parkway,
14,1015,Toby,Flenderson,347-622-467,N,N,,214 HR Avenue,
15,1016,Ron,Weasley,123-545-5421,N,N,,2395 Hogwarts Avenue,
16,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,
19,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,

In [107]:
# now reset the index

df = df.reset_index(drop=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,State,Street_Address,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,Shire,123 Shire Lane,
1,1005,Jon,Snow,876-678-3469,Y,N,,123 Dragons Road,
2,1008,Sherlock,Holmes,876-678-3469,N,N,,98 Clue Drive,
3,1010,Peter,Parker,123-545-5421,Y,N,New York,25th Main Street,
4,1013,Don,Draper,123-543-2345,Y,N,,2039 Main Street,
5,1014,Leslie,Knope,876-678-3469,Y,N,,343 City Parkway,
6,1015,Toby,Flenderson,347-622-467,N,N,,214 HR Avenue,
7,1016,Ron,Weasley,123-545-5421,N,N,,2395 Hogwarts Avenue,
8,1017,Michael,Scott,123-643-9775,Y,N,Pennsylvania,121 Paper Avenue,
9,1020,Anakin,Skywalker,876-678-3469,Y,N,Tatooine,910 Tatooine Road,